<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<title>{{ .Title }} | {{ .Site.Title }}</title>

<link rel="stylesheet" href="{{ "css/style.min.css" | relURL }}"/>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" href="/favicon.svg">
<link rel="manifest" href="/site.webmanifest">

<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
<meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ if isset .Params "preview_title" }}{{ index .Params "preview_title" }}{{ else }}{{ .Title }}{{ end }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:description" content="{{ if isset .Params "preview_description" }}{{ index .Params "preview_description" }}{{ else }}{{ .Params.Description }}{{ end }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="{{ if isset .Params "preview_image_url" }}{{ index .Params "preview_image_url" }}{{ else }}https://build.cfengine.com/module.png{{ end }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="build.cfengine.com" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="build.cfengine.com" />
<meta name="twitter:title" content="{{ if isset .Params "preview_title" }}{{ index .Params "preview_title" }}{{ else }}{{ .Title }}{{ end }}" />
<meta name="twitter:description" content="{{ if isset .Params "preview_description" }}{{ index .Params "preview_description" }}{{ else }}{{ .Params.Description }}{{ end }}" />
<meta name="twitter:image" content="{{ if isset .Params "preview_image_url" }}{{ index .Params "preview_image_url" }}{{ else }}https://build.cfengine.com/module.png{{ end }}" />

<script>
    let gaInitialized = false;
    document.addEventListener('cookieconsent_allowed', () => {
        if (gaInitialized === true) return;
        const script = document.createElement('script');
        script.src = 'https://www.googletagmanager.com/gtag/js?id=G-TW89K2P8L4';
        document.head.appendChild(script);
        script.addEventListener('load', function () {
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-TW89K2P8L4');
            gaInitialized = true;
        });
    });
</script>
</head>
<body>

{{ partial "nav" . }}
