<div class="modal" id="publishModal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Publish a module</h2>
            <span class="close close-modal-click"><i class="bi bi-x-lg"></i></span>
        </div>
        <div class="modal-body">
            <p>Continue to GitHub for instructions on how to add your module to the CFEngine Build website.</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default close-modal-click">Cancel</a>
            <a id="gotogithub" target="_blank" href="https://github.com/cfengine/build-index/blob/master/CONTRIBUTING.md" class="btn btn-primary">Continue to Github</a>
        </div>
    </div>
</div>
